header {
  max-width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
  padding: 30px;
  padding-top: 20px;
  background-color: red;
}
